.places {
    margin: 0 100px;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(5, min-content);
    row-gap: 80px;
}

@media screen and (max-width: 1200px) {
    .places {
        margin: 0 48px;
    }
}

@media screen and (max-width: 1000px) {
    .places {
        margin: 0 24px;
        row-gap: 73px;
    }
}

@media screen and (max-width: 760px) {
    .places {
        width: 100%;
        margin: 0;
        row-gap: 50px;
        justify-content: center;
    }
}