.cover__subtitle {
    max-width: 360px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    z-index: 1;
    margin: 32px 35% 21%;
}

@media screen and (max-width:1200px) {
    .cover__subtitle {
        margin: 32px 32.5% 19%;
    }
}

@media screen and (max-width:1000px) {
    .cover__subtitle {
        margin: 32px 26.5% 14.5%;
    }
}

@media screen and (max-width:760px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 24px;
        margin: 32px 5% 10%;
    }
}

@media screen and (max-width:600px) {
    .cover__subtitle {
        margin-top: 16px;
    }
}

@media screen and (max-width:500px) {
    .cover__subtitle {
        max-width: 250px;
        font-size: 14px;
        line-height: 16px;
    }
}