.figure__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    margin: 0;
    max-width: 158px;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 15%;
}

@media screen and (max-width:1000px) {
    .figure__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width:760px) {
    .figure__caption {
        margin-left: 16px;
    }
}