.intro {
    margin: 0;
    max-width: 690px;
    margin-left: 100px;
}

@media screen and (max-width: 1200px) {
    .intro {
        max-width: 720px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .intro {
        width: 90.5%;
        margin: 0 auto;
    }
}