.theme-button {
    position: fixed;
    right: 5px;
    bottom: 50px;
    display: inline-block;	
    box-sizing: border-box;
    padding: 0 5px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #706f6f;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #f4f4f4;
    background-color: #2a2c2f;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;  
    vertical-align: top;
    transition: box-shadow linear 0.5s;
    }
   
    .theme-button:hover {
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }
    .theme-button:active {
        background-color: #808080;
    }