.cover__title {
    max-width: 510px;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    z-index: 1;
    margin: 21% 16% 0;
}

@media screen and (max-width:1200px) {
    .cover__title {
        margin: 19% 22.5% 0;
    }
}

@media screen and (max-width:1000px) {
    .cover__title {
        margin: 14.5% 13.5% 0;
    }
}

@media screen and (max-width:760px) {
    .cover__title {
        max-width: 300px;
        font-size: 42px;
        line-height: 45px;
        margin: 11% 5% 0;
    }
}

@media screen and (max-width:500px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
    }
}