.cover__title {
    margin: 0;
    max-width: 560px;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    z-index: 1;
    margin-top: 245px;
}

@media screen and (max-width:1200px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media screen and (max-width:1000px) {
    .cover__title {
        margin-top: 115px;
    }
}


@media screen and (max-width:760px) {
    .cover__title {
        max-width: 360px;
        font-size: 45px;
        line-height: 50px;
        margin: 150px 150px 0 150px;
    }
}

@media screen and (max-width:600px) {
    .cover__title {
        font-size: 42px;
        line-height: 48px;
    }
}

@media screen and (max-width:440px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 33px 16px 0 16px;
    }
}