.footer {
    width: 92%;
    min-height: 18px;
    display: flex;
    margin: 0 48px;
}

@media screen and (max-width: 1000px) {
    .footer {
        margin: 0 24px;
        opacity: 0.68;
    }
}

@media screen and (max-width: 760px) {
    .footer {
        margin-left: 16px;
        min-height: 310px;
        opacity: 0.2;
    }
}