.place__website {
    grid-area: place__website;
    position: relative;
    right: 19px;
    align-self: end;
    gap: 12px;
    display: grid;
}

@media screen and (max-width: 760px) {
    .place__website {
        margin: 0 16px;
        right: 0;
    }
}